
main {
  @include flex(1, 1, null, nowrap, column);
  @include media('med') {
    display: inline-block;
    @include sizeBox(calc(100% - 80px), null, 0);
  }
}

.mainTraffic {
  height: 220px;
  padding-bottom: 6.25rem;
  border-bottom: 1px solid $canvas-border;
  @include media('med') {
    padding-bottom: 2rem;
  }
  @include media('lg') {
    height: 42vh;
  }
  h2 {
    @include media('med') {
    position: absolute;
    }
  }
}

.traffic {
  border-bottom: 1px solid $canvas-border;
  @include media('med') {
    float: left;
    width: $canvasCalc1;
    border: none;
  }
}

.mobileUsers {
  border-bottom: 1px solid $canvas-border;
  @include media('med') {
    float: right;
    width: $canvasCalc1;
    border-left: 1px solid $canvas-border;
  }
}

#chart-buttons {
  clear: left;
  display: flex;
  @include sizeBox(70%, null, 0 5% 0 25%);
  font-size: .8rem;
  list-style: none;
  @include flex(null, 1, null, nowrap, row) {
    justify-content: flex-end;
  }
  @include media('med') {
    margin-right: 0;
    width: 74%;
  }
  li {
    @include sizeBox(null, .5rem, .1rem);
    cursor: pointer;
  }
}

.chart-button-color {
  @include b-styles(lightgreen, null, 1rem);
}
